/* Base */

html {
  font-size: 62.5%;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background: #fff;
  background-size: cover;
  color: #151515;
  text-align: left;
  font-size: 1.4rem;
  font-family: Raleway, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

pre {
  padding: 10px 15px;
  background-color: #f8f8f8 !important;
}

.header {
  width: 600px;
  padding: 30px 0 0;
}

.footer {
  width: 600px;
  padding: 12px 0;
  padding-left: 30px;
  font-size: 1.3rem;
  text-align: right;
  margin: 30px 0;
}

.container {
  width: 600px;
  margin: 0 auto;
}

.site-title {
  text-align: left;
  font-size: 3rem;
  margin: 20px 30px;
}

.site-title > a {
  text-decoration: none;
  color: #151515;
}

.site-title > a:hover {
  background-color: rgba(169, 169, 169, 0.5);
}

.site-description {
  margin-bottom: 50px;
  color: #888;
  font-size: 1.6rem;
}

/* Content Base */
.content {
  margin-top: 20px;
  padding-left: 30px;
  background-color: #fff;
  color: #333;
}

.content-wrapper {
  line-height: 2.5;
  letter-spacing: 1px;
}

/* Link Box */
.link-box {
  display: flex;
  flex-flow: row;
  position: relative;
  padding: 0;
  margin: 0px auto;
  list-style-type: none;
}

.link-box-item {
  display: inline-flex;
  justify-content: left;
  align-items: left;
  padding: 5px 5px 0 5px;
}

/* List */
.list {
  list-style-type: none;
  padding-left: 0px;
}

.list-item {
  list-style-type: none;
  padding-left: 0px;
  letter-spacing: 2px;
}

/* Link */
.link {
  text-decoration: none;
  color: #151515;
  border-bottom: 1px solid rgba(169, 169, 169, 0.5);
}

.link:hover {
  background-color: #f5f5f5;
}

a:visited {
  color: #151515;
  text-decoration: none;
}

/* Button */
.btn {
  text-decoration: none;
  color: #151515;
  border: 1px solid rgba(169, 169, 169, 0.5);
  padding: 1px 2px;
  margin: 0 2px;
}

.btn:hover {
  text-decoration: none;
  color: #151515;
  border: 1px solid rgba(169, 169, 169, 0.5);
  padding: 1px 2px;
  margin: 0 2px;
  opacity: 0.9;
  background-color: #f5f5f5;
}

/* Headings */
.heading {
  position: relative;
  display: inline-block;
  margin: 0 0;
  letter-spacing: 2px;
  font-size: 2.5rem;
}

.heading::after {
  content: '';
  display: block;
  border-bottom: 0.5px solid;
  padding-top: 5px;
}

.sub-heading {
  margin: 5px 0 0;
  font-size: 1.8rem;
  border-bottom: 0.5px solid rgba(169, 169, 169, 0.8);
}

/* Util */
.bold {
  font-weight: 700;
}

@media (max-width: 768px) {
  .site-title-sub::before, .site-title-sub::after {
    display: block;
    width: 80%;
    margin: 10px auto;
  }
  .header {
    width: 100%;
    padding-top: 30px;
  }
  .heading {
    font-size: 2.5rem;
  }
  .sub-heading {
    font-size: 1.5rem;
  }
  body {
    font-size: 1.3rem;
  }
  .footer {
    width: 100%;
    padding-right: 15px;
  }
  .container {
    width: 100%;
  }
  .content {
    width: 100%;
    padding: 0 30px;
  }
  .content-wrapper {
    display: block;
    position: relative;
  }
  .content-text {
    line-height: 1.8;
  }
}
