<!DOCTYPE html>
<html lang="ja">
  {{ partial "head.html" (dict "context" . "Title" .Page.Title) }}
  <body>
    <div class="container">
      {{ partial "header.html" }}
      <main>
        <section class="content">
          <h1 class="heading">{{ .Page.Title }}</h1>
          <ul class="list">
            {{ range .Data.Pages }}
              <li class="list-item">
                  <a class="link" href="{{.Permalink}}">{{.Date.Format "2006-01-02"}} | {{.Title}}</a>
              </li>
            {{ end }}
          </ul>
        </section>
      </main>
      {{ partial "footer.html" }}
    </div>
  </body>
</html>
