<!DOCTYPE html>
<html lang="ja">
  {{ partial "head.html" (dict "context" . "Title" .Page.Title) }}
  <body>
    <div class="container">
      {{ partial "header.html" }}
      <main>
        <section class="content">
          <div class="content-wrapper">
            <p>
              I'm Yuji Takahashi(a.k.a <a href="https://github.com/jit-y" class="link">@jit-y</a>)<br>
              I have been Server Side Engineer in Tokyo, Japan.
            </p>
          </div>
        </section>
        <section class="content">
          <h2 class="heading">Works</h2>
          <div class="content-wrapper">
            <h3 class="sub-heading">Libraries</h3>
            <ul class="list">
              <li class="list-item">
                <span class="bold">Bun2:</span> A Bot framework written in Elixir.
                <div>
                  <a class="btn" href="https://github.com/jit-y/bun2" target="_blank">GITHUB</a> <a class="btn" href="https://hex.pm/packages/bun2" target="_blank">HEX</a>
                </div>
              </li>
              <li class="list-item">
                <span class="bold">spreadsheet_textconv:</span> Command tool for converting spreadsheet file (e.g.: .xlsx, .xls) to text.
                <div>
                  <a class="btn" href="https://github.com/jit-y/spreadsheet_textconv" target="_blank">GITHUB</a>
                  <a class="btn" href="https://crates.io/crates/spreadsheet_textconv" target="_blank">CRATES</a>
                </div>
              </li>
            </ul>
            <h3 class="sub-heading">Writings</h3>
            <ul class="list">
              <li class="list-item"><span class="bold">Medium: </span> Writings about my works. <a class="btn" href="https://medium.com/@jit.y.31" target="_blank">LINK</a></li>
            </ul>
          </div>
        </section>
      </main>
      {{ partial "footer.html" }}
    </div>
  </body>
</html>
