<!DOCTYPE html>
<html lang="ja">
  {{ partial "head.html" (dict "context" . "Title" .Page.Title) }}
  <body>
    <div class="container">
      {{ partial "header.html" }}
      <main>
        <section class="content">
          <div class="content-wrapper">
            <p>
              I'm Yuji Takahashi(a.k.a <a href="https://github.com/jit-y" class="link">@jit-y</a>)<br>
              I have been Server Side Engineer in Tokyo, Japan.
            </p>
          </div>
        </section>
      </main>
      {{ partial "footer.html" }}
    </div>
  </body>
</html>
