<!DOCTYPE html>
<html lang="ja">
  {{ partial "head.html" (dict "context" . "Title" .Page.Title) }}
  <body>
    <div class="container">
      {{ partial "header.html" }}
      <main>
        <section class="content">
          <h2 class="heading">About</h2>
          <div class="content-wrapper">
            <ul class="list">
              <li class="list-item"><span class="bold">Name:</span> Yuji Takahashi(<a class="link" href="https://github.com/jit-y" target="_blank">@jit-y</a>)</li>
              <li class="list-item"><span class="bold">Job:</span> Web Engineer (server side)</li>
              <li class="list-item"><span class="bold">Address:</span> Tokyo, Japan</li>
            </ul>
          </div>
        </section>
        <section class="content">
          <h2 class="heading">Works</h2>
          <div class="content-wrapper">
            <h3 class="sub-heading">Libraries</h3>
            <ul class="list">
              <li class="list-item">
                <span class="bold">Bun2:</span> A Bot framework written in Elixir.
                <div>
                  <a class="btn" href="https://github.com/jit-y/bun2" target="_blank">GITHUB</a> <a class="btn" href="https://hex.pm/packages/bun2" target="_blank">HEX</a>
                </div>
              </li>
              <li class="list-item">
                <span class="bold">spreadsheet_textconv:</span> Command tool for converting spreadsheet file (e.g.: .xlsx, .xls) to text.
                <div>
                  <a class="btn" href="https://github.com/jit-y/spreadsheet_textconv" target="_blank">GITHUB</a>
                  <a class="btn" href="https://crates.io/crates/spreadsheet_textconv" target="_blank">CRATES</a>
                </div>
              </li>
            </ul>
            <h3 class="sub-heading">Writings</h3>
            <ul class="list">
              <li class="list-item"><span class="bold">Medium: </span> Writings about my works. <a class="btn" href="https://medium.com/@jit.y.31" target="_blank">LINK</a></li>
            </ul>
          </div>
        </section>
        <section class="content">
          <h2 class="heading">Skills</h2>
          <div class="content-wrapper">
            <ul class="list">
              <li class="list-item">Ruby</li>
              <li class="list-item">Ruby on Rails</li>
              <li class="list-item">Elixir</li>
              <li class="list-item">Phoenix</li>
            </ul>
          </div>
        </section>
      </main>
      {{ partial "footer.html" }}
    </div>
  </body>
</html>
